# file e cartelle da ignorare TEMPORANEAMENTE 

# /asw-000-ciao-mondo/ 

# /asw-libraries/
# /libraries/

# /asw-810-introduzione/
# /asw-820-socket/
# /asw-830-rmi/
# /asw-840-jms/
# /asw-850-ejb/

/asw-860-ws/

# /asw-870-rest/


# file e cartelle da ignorare DEFINITIVAMENTE 

**/.gradle/ 
**/bin/ 
**/build/ 
**/dist/ 

**/.classpath 
**/.project 
**/.settings/

**/derby.log

bak/

/asw-9*/

/asw-xxx-docker/
/esperimenti/
/zzz-altri/ 

