# file e cartelle da ignorare DEFINITIVAMENTE 

private/
.git/ 
.gitignore
**/.gitignore

projects/**/.gradle/ 
projects/**/build/ 
projects/**/dist/ 

environments/**/.vagrant/ 

# file e cartelle da ignorare TEMPORANEAMENTE 

docker/

