# file e cartelle da ignorare DEFINITIVAMENTE 

# la cartella con la mia documentazione su questo repository
/private/

.git/ 

/eclipse/

# file e cartelle da ignorare TEMPORANEAMENTE 

/docker/ 
/microservice/


# per attivare delle modifiche a .gitignore di fa cosi' 
# git rm -r --cached .
# git add .
# git commit -m ".gitignore is now working" 
