# file e cartelle da ignorare DEFINITIVAMENTE 

# la cartella con la mia documentazione su questo repository
private/

.git/ 

eclipse/
projects/**/.classpath 
projects/**/.project 
projects/**/.settings/

projects/**/.gradle/ 
projects/**/bin/ 
projects/**/build/ 
projects/**/dist/ 

environments/**/.vagrant/ 

# file e cartelle da ignorare TEMPORANEAMENTE 

docker/

# per attivare delle modifiche a .gitignore di faccia cosi' 
# git rm -r --cached .
# git add .
# git commit -m ".gitignore is now working" 
