grant codeBase "file:/home/vagrant/projects/asw-830-rmi/d-session-counter-rmi/dist/client/libs/-" {
    permission java.security.AllPermission;
};
