# file e cartelle da ignorare TEMPORANEAMENTE 

# developer/ 
# standalone/ 
# client-server/

apache-puppet/
apache-puppetlabs-apache/
apache-shell/
coreos/
docker/
docker-swarm-consul/
docker-swarm-token/
java-ee/


# file e cartelle da ignorare DEFINITIVAMENTE 

virtualboxadditions/

