# file e cartelle da ignorare TEMPORANEAMENTE 

# common.sh

# setup-gradle.sh
# setup-java.sh

setup-consul.sh
setup-docker.sh
setup-docker-compose.sh
setup-java-ee.sh
setup-java-ee-appclient.sh
setup-server-hosts.sh
setup-swarm-hosts.sh

# file e cartelle da ignorare DEFINITIVAMENTE 

setup-virtualbox-guest-additions.sh
