# file e cartelle da ignorare TEMPORANEAMENTE 

# common.sh

# setup-java.sh
# setup-gradle.sh

# setup-java-ee.sh
# setup-server-hosts.sh
# start-glassfish.sh 
# setup-java-ee-appclient.sh

# setup-docker.sh
# setup-docker-compose.sh

setup-consul.sh
setup-swarm-hosts.sh

# file e cartelle da ignorare DEFINITIVAMENTE 

setup-virtualbox-guest-additions.sh
