# file e cartelle da ignorare TEMPORANEAMENTE 

# README.md 

# org.eclipse.persistence.moxy-FIXED.jar

consul.conf

# file e cartelle da ignorare DEFINITIVAMENTE 

jdk*
gradle*
java_ee_sdk*
apache-tomcat-8.0.30.zip
appclient-10.11.1.101.jar
consul_0.6.0_linux_amd64.zip
VBoxGuestAdditions_5.0.8.iso

